{% extends 'base.html.twig' %}

{% block title %}Forgot Password
{% endblock %}

{% block body %}
	<div class="container mt-4">
		<h2 class="text-center mb-4">Forgot Password</h2>

		{{ form_start(form) }}
		{{ form_widget(form) }}

		<div class="form-group text-center">
			<button type="submit" class="btn btn-success">
				<a href="{{ path('security_forgot_password') }}"></a>Send</button>
		</div>
		<div alert-alert></div>
		{{ form_end(form) }}
	</div>

{% endblock %}
