{% extends 'base.html.twig' %}

{% block title %}Mot de passe oublié
{% endblock %}

{% block body %}
	<div class="container mt-4">
		<h2 class="text-center mb-4">Mot de passe oublié</h2>

		{{ form_start(form) }}
		{{ form_widget(form) }}

		<div class="form-group text-center">
			<button type="submit" class="btn btn-success">Réinitialisez le mot de passe</button>
		</div>
		<div alert-alert></div>
		{{ form_end(form) }}
	</div>

{% endblock %}
