{% extends 'base.html.twig' %}

{% block title  %}'My Account'
{% endblock %}


{% block body %}

	<div class="container mt-5">
		<div class="row">
			<div class="col-sm-6 mx-auto my-5">
				<div class='userprofile text-center'>
					<h2>Your profile</h2>
					<img src="{{ asset('images/blondmodel.jpg/') }}" class="avatar img-responsive">
					<ul>
						<li>Pseudo :
							{{ app.user.username }}</li>
						<li>Email :
							{{ app.user.email }}</li>
						<li>Subscribed on :
							{{ app.user.createdAt|date('m/d/Y') }}</li>
					</ul>
				</div>
			</div>

		</div>

	</div>


{% endblock %}

{% block javascripts %}{% endblock %}
