{% extends 'base.html.twig' %}

{% block title  %}'Mon compte'
{% endblock %}


{% block body%}

	<div class="container">
		<h2>Votre profil</h2>
		<ul>
			<li>Pseudo :
				{{ app.user.username }}</li>
			<li>Email :
				{{ app.user.email }}</li>
			<li>Inscription le :
				{{ app.user.createdAt|date('m/d/Y') }}</li>
		</ul>


	</div>


{% endblock %}
