{% extends 'base.html.twig' %}
{% block body%}

	<div class="container text-center mt-4">
		<h1>Registration Skispeed</h1>

		{{ form_start(form) }}
		{{ form_widget(form) }}
		<button type="submit" class="btn btn-dark">Send</button>
		{{ form_end(form)}}
	</div>

{% endblock %}
