@import url("https://fonts.googleapis.com/css?family=Signika:300,700");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body, html {
  font-family: sans-serif;
  font-size: 18px;
  height: 100%;
  margin: 0px;
  padding: 0px;
  background: skyblue;
  width: 100%;

}

.wrapper{
  min-height: 100%;
  position: relative;
}

.navbar-nav {
  text-transform: uppercase;
  margin: 0;
  border: 0;
}

.carousel-inner {
    height: 70vh;
  }

  #Snowboardcarousel .item {
    display: flex;
    position: relative;
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

  @media only screen and (max-width: 990px) {
    .carousel-inner{
      max-height: 420px;
    }
  }

  @media only screen and (max-width: 870px) {
  .carousel-inner{
    max-height: 390px;
  }
}

  @media only screen and (max-width: 540px) {
    .carousel-inner{
      max-height: 340px;
    }
  }

@media only screen and (max-width: 480px) {
  .carousel-inner{
    max-height: 320px;
  }
}

@media only screen and (max-width: 460px) {
  .carousel-inner{
    max-height: 300px;
  }
}


@media only screen and (max-width: 2180px) {
  .carousel-caption{
    text-transform:uppercase;
    width:350px;
    text-align:center;
    top:auto;
    bottom:60%;
    font-size: 32px;
  }
}

@media only screen and (max-width: 840px) {
  .carousel-caption{
    width:200px;
    display:block !important;
    text-align:center;
    top:auto;
    bottom:65%;
    font-size: 32px;
  }
}


@media only screen and (max-width: 480px) {
  .carousel-caption{
    width:200px;
    display:block !important;
    text-align:center;
    top:auto;
    bottom:60%;
    font-size: 32px;
  }
}

.contents{
  margin-top: 5px;
}

.card#Images{
  display:inline-block;
}

/*
.pop{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;

}*/

.clickable{
padding: 0px 5px 5px;
}

h1{
font-size: 20px;
}

.card-title{
text-decoration: underline;
}

.contents, a{
  font-size: 20px;
  color: rgb(8, 7, 7)
}

h3 a{
  text-align: center;
}

.card{
  margin: 5px 4px;
}

.card-body{
  padding : 0 10px 5 10px;
}

.img-responsive{
border-radius: 2%;
padding: 10px;
width: 150px;
}

#arrow{
  float : right;
  border-radius:40%;
  cursor : pointer;
  margin: 30px;
}

#arrowdown{
  float : right;
  border-radius:80%;
  background-color:rgb(18, 114, 159);
  cursor : pointer;
  margin: 30px;
  padding-top: 5px;

  -webkit-transform: translate(-50%, 0%);
  -moz-transform: translate(-50%, 0%);
  transform: translate(-50%, 0%);
	-webkit-animation: fade_move_down 4s ease-in-out infinite;
	-moz-animation:    fade_move_down 4s ease-in-out infinite;
	animation:         fade_move_down 4s ease-in-out infinite;
}

/*animated scroll arrow animation*/
@-webkit-keyframes fade_move_down {
  0%   { -webkit-transform:translate(0,-10px); opacity: 0;  }
  50%  { opacity: 1;  }
  100% { -webkit-transform:translate(0,10px); opacity: 0; }
}
@-moz-keyframes fade_move_down {
  0%   { -moz-transform:translate(0,-10px); opacity: 0;  }
  50%  { opacity: 1;  }
  100% { -moz-transform:translate(0,10px); opacity: 0; }
}
@keyframes fade_move_down {
  0%   { transform:translate(0,-10px); opacity: 0;  }
  50%  { opacity: 1;  }
  100% { transform:translate(0,10px); opacity: 0; }
}


@media only screen and (max-width: 790px) {
    #Images{
    display: flex;
    flex-direction: column;

  }
}


.userprofile ul li{
  list-style: none;
  display: block;
}

.container-fluid{
  margin: 0px;
  padding: 0px;
}


#footer{

  width: 100%;
  left: 0px;
  bottom: 0px;  
  background-color : rgb(36, 36, 43);
  color: #FFFFFF;
  height: 120px;

}

.icons{
line-height: 25px;
font-size: 20px;
color: rgb(32, 47, 130);
z-index: 10000px;
}

#footer .copyright{

    color: #FFFFFF;
    padding-bottom: 5px;
    margin: auto;
    height: 50px;
    text-align: center;

}






